.beer-item__buttons-container {
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
}

.beer-item__button {
  font: {
    family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
      'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    size: 20px;
  }
  width: fit-content;
  padding: 0 20px;

  text-align: left;
  text-transform: uppercase;

  color: inherit;
  border: none;
  background: none;
  &:hover {
    background: rgb(109, 107, 107);
  }
}
