.beerItemButton {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;

  width: 100%;
  padding: 10px;

  text-align: left;
  text-transform: uppercase;

  color: inherit;
  border: none;
  background: none;
}
.beerItemButton:hover {
  background: rgb(109, 107, 107);
}

.beerItemButtonsContainer {
  display: flex;
  justify-content: space-between;
}
