@import '../BeerPage/beerPage.scss';

.ingredients {
  display: block;
  width: 400px;
  min-width: fit-content;
  margin-right: 50px;

  &__header {
    @include header;
  }

  &__table {
    margin: 20px 0;
  }
}
