.landing-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  width: fit-content;
  margin: 60px;
}

.landing-page__container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.landing-page__beer-item {
  display: block;
  margin-top: 20px;
}
