$bg-color: #9596a0;
@import 'src/styles/scss/mixins';

.properties__item {
  align-items: center;
  justify-content: space-between;
  display: flex;

  @include table-item;

  &-value {
    display: flex;

    padding: 5px 20px;

    color: #fff;
    border-radius: 20px;
    background-color: $bg-color;
  }

  &-name {
    display: flex;
    justify-content: space-between;

    width: 70px;
  }

  &-icon {
    color: $bg-color;
  }
}
