@import 'src/styles/scss/mixins';
$bg-color: #9596a0;

.properties-item {
  align-items: center;

  color: $bg-color;

  @include two-columns;

  @include table-item;
}

.properties-item__value {
  display: flex;

  padding: 5px 20px;

  color: #fff;
  border-radius: 20px;
  background-color: $bg-color;
}

.properties-item__name {
  display: flex;
  justify-content: space-between;

  width: 70px;
}
