@import 'src/styles/scss/main';

.beer-item__buttons {
  display: flex;
  justify-content: space-between;

  padding-top: 25px;
}

.beer-item__button {
  font: {
    family: $font-family;
    size: 20px;
  }
  width: fit-content;
  padding: 0 20px;
  color: inherit;
  border: none;
  background: none;

  text: {
    transform: uppercase;

    align: left;
    decoration: none;
  }

  &:hover {
    background: rgb(109, 107, 107);
  }
}
