.pageHeaderContainer {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;

  display: flex;
  justify-content: space-between;

  height: 60px;

  color: #cbcedd;
  background-color: #0870ce;
}

.pageHeaderSettings {
  font-size: 27px;

  align-self: center;

  margin-right: 10px;
}

.pageHeaderSettings:hover {
  color: #fff;
}
