.ingredients {
  display: block;
  width: 450px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin-right: 50px;
}
.ingredients__header {
  font-size: 40px;
  font-weight: 500;
}
.ingredients__table {
  margin: 20px 0;
}