@import 'src/styles/scss/mixins';

.ingredients {
  display: block;
  width: 450px;
  min-width: fit-content;
  margin-right: 50px;

  &__header {
    @include header;
  }

  &__table {
    margin: 20px 0;
  }
}
