@import '../../../../styles/scss/mixins';

.method {
  margin-left: 100px;
  &__header {
    @include header;
  }

  &__table {
    width: 450px;
    margin-top: 20px;
  }

  &__table-header {
    @include table-header;
    margin-top: 20px;
  }
}
