@import 'src/styles/mixins/typography';

@mixin table-item {
    display: block;

    width: 100%;
    padding: 20px;

    border: 1px solid #dcdcdc;
    border-radius: 2px;
}

@mixin table {
    min-width: 300px;
    width: 400px;
    margin: 20px 0;
}

@mixin table-container {
    margin: 0 80px;
}

@mixin table-header {
    @include typography-1;
}

@mixin title {
    @include typography-1;
    padding-bottom: 10px;
}