$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family-styled: Georgia, 'Times New Roman', Times, serif;
$font-family-Lucinda: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$font-main-size: 18pt;  

@mixin typography-0 {
    font: {
        family: $font-family;
        size: 18pt;
    };
}

@mixin typography-0-small {
    font: {
        family: $font-family;
        size: 14pt;
    };
}

@mixin typography-1 {
    font: {
        family: $font-family;
        size: 25pt;
        weight: 600;
    };
}

@mixin typography-1-small {
    font: {
        family: $font-family;
        size: 20pt;
        weight: 600;
    };
}

@mixin typography-2 {
    font: {
        size: 25pt;
        weight: 500;
    };
}

@mixin typography-3 {
    font: {
        size: 20pt;
        family: $font-family;
    };
}

@mixin typography-3-small {
    font: {
        size: 15pt;
        family: $font-family;
    };
}

@mixin typography-4 {
    font: {
        size: 25pt;
        family: $font-family-styled;
    };
}

@mixin typography-4-small {
    font: {
        size: 18pt;
        family: $font-family-styled;
    };
}

@mixin typography-5 {
    font: {
        size: 30pt;
        family: $font-family-Lucinda;
    };
}

@mixin typography-6 {
    font: {
        family: $font-family;
        size: 25pt;
        weight: 700; 
    };
}

@mixin typography-6-small {
    font: {
        family: $font-family;
        size: 20pt;
        weight: 700; 
    };
}

@mixin typography-7 {
    font: {
        family: $font-family;
        size: 20pt;
        style: italic;
    };
}

@mixin typography-7-small {
    font: {
        family: $font-family;
        size: 15pt;
        style: italic;
    };
}
