.food-pairing {
  display: block;
  width: 100%;
}
.food-pairing__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  margin: 0 80px;
}
.food-pairing__header {
  font-size: 40px;
  font-weight: 500;
}
.food-pairing__table {
  margin: 20px 0;
}