.page-header-main {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.page-header-main__menu {
  font-size: 32px;
  display: inherit;
  margin: 10px;
}
.page-header-main__menu:hover {
  color: #fff;
}