@import 'src/styles/mixins/table';
@import 'src/styles/mixins/typography';

.method {
    @include table-container;
}

.method__header {
    @include typography-6;
}
.method__table {
    @include table;
    display: block;
}

.method__table-header {
    @include table-header;
    padding: 10px 0 0;
}

.method__table-row {
    display: block;
    padding: 5px 0;
}