.filter__item {
  display: flex;
  justify-content: space-between;

  width: 550px;
  padding-top: 20px;
}

.filter__slider {
  display: inline-flex;
  width: 200px;
  height: 1px;

  &__label {
    margin-right: 5px;
  }
}
