@import 'src/styles/mixins/table';
@import 'src/styles/mixins/typography';

.table__container {
    margin: 0 80px 0 0;
}

.table__header {
    @include typography-6;
}

.table__body {
    @include table;
    display: block;
}

.table__item--borders {
    @include table-item;
}

.table__item {
    @include table-item;
    border: 0px;
}

.table__item-header {
    @include table-header;
}

.table__item-body {
    padding: 10px 0;
    display: block;
}
