@import 'src/styles/scss/main';

.page-header {
  font: {
    family: Georgia, 'Times New Roman', Times, serif;
    size: 25px;
  }
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 60px;

  color: $secondary-color;
  background-color: $primary-color;

  &__settings {
    margin-right: 10px;

    &:hover {
      color: #fff;
    }
  }
}
