@import 'src/styles/scss/mixins';
@import 'src/styles/scss/main';

.beer-page {
  display: block;
  text-align: left;
  font: {
    family: $font-family;
    size: 20px;
  }
}

.beer-page__container {
  @include centered-content;
  padding: 30px 80px;
  margin: 0 250px;
}

.beer-page__main {
  @include two-columns;
}

.beer-page__info {
  width: 100%;
  display: block;
  font-family: $font-family;
}

.beer-page__button {
  display: inherit;
  margin: 20px 0;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background-color: $primary-color;
  color: $secondary-color;
}

.beer-page__characteristics {
  @include two-columns;
  margin: 30px 0;
}

.beer-page__preparation-section {
  @include two-columns;
}
