@import 'src/styles/scss/mixins';
@import 'src/styles/scss/main';

.beer-page {
  display: block;
  text-align: left;
  font: {
    family: $font-family;
    size: 20px;
  }

  &__container {
    display: flex;
    justify-content: center;
    padding: 30px 80px;
    margin: 0 200px;
  }

  &__main {
    @include two-columns;
  }

  &__info {
    width: 100%;
    display: block;
    font-family: $font-family;
  }

  &__button {
    display: inherit;
    margin: 20px 0;
    width: fit-content;
    padding: 10px 20px;
    border: none;
    background-color: $primary-color;
    color: $secondary-color;
  }

  &__characteristics {
    @include two-columns;
    margin: 30px 0;
  }

  &__preparation-section {
    @include two-columns;
    width: max-content;
  }
}
