@import 'src/styles/scss/main';

@mixin two-columns {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@mixin table-item {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  width: 100%;
  padding: 20px;
}

@mixin header {
  font: {
    size: 40px;
    weight: 500;
  }
}

@mixin table {
  margin: 20px 0;
  min-width: 300px;
  max-width: 500px;
}

@mixin table-container {
  margin: 0 80px;
}

@mixin table-header {
  font: {
    size: 25px;
    weight: 500;
  }
  padding: 10px 0;
}

@mixin title {
  font: {
    family: $font-family;
    size: 30px;
  }
  padding-bottom: 10px;
}

@mixin centered-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
