.beerItemImageContainer {
  display: flex;

  min-width: 130px;
  max-width: 150px;
  height: 150px;
  margin: 5px;
}

.beerItemImage {
  width: 100%;

  border-radius: 50%;
}

.beerItemImageSection {
  display: flex;
  width: 320px;
  justify-content: center;
}
