@import '../../styles/scss/mixins.scss';

.beer-page__header {
  display: inline;
  width: 100%;
  text-align: left;
  font-size: 32px;

  &--tagline {
    color: #808080;
    font: {
      style: italic;
      family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      size: 60%;
    }
  }

  &--title {
    @include title;
    font-size: 54px;
  }
}
