@import 'src/styles/scss/mixins';
@import 'src/styles/scss/main';

.beer-page__header {
  &--tagline {
    font: {
      style: italic;
      family: $font-family;
      size: 80%;
    }
    color: #808080;
  }

  &--title {
    font-size: 54pt;

    @include title;
  }
}
