@import 'src/styles/colors';
@import 'src/styles/mixins/typography';

.input__input {
    font-size: inherit;
    font-family: inherit;

    width: 75%;
    padding-left: 5px;

    border: none;
    border-left: solid 1px #000;
    border-radius: 0 5px 5px 0;
    &:focus {
        outline: none;
    }
}

.input__fieldname {
    margin: 0 5px 0 0;
}

.input__item {
    @include typography-3;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 20px;
    padding: 10px;

    text-align: left;

    border: solid 1px #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px #46749b67;
    background-color: #ffffff;
}