.searchBoxContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  margin-top: 50px;
}

.searchBoxInput {
  font-size: 18px;

  display: inline;

  width: 370px;
  margin-right: 5px;
  padding: 5px;
  padding-bottom: 10px;
  color: rgb(148, 144, 144);
  border: none;
  border-bottom: 2px solid rgb(199, 195, 195);
}

.searchBoxButton {
  display: inline;
  border: none;
  background: none;
  font-size: 40px;
  color: rgb(148, 144, 144);
  padding: 0;
}
