@import 'src/styles/scss/main';
@import 'src/styles/scss/mixins';
$hover-color: #696a6e;

.menu-navbar-item {
  font: {
    family: $font-family;
    size: 20px;
  }
  display: flex;

  width: 150px;

  text-decoration: none;

  color: #87888f;
  &:hover {
    border-bottom: 1px solid $hover-color;
  }
}

.menu-navbar-item__container {
  margin-top: 30px;

  @include two-columns;
}

.menu-navbar-item__icon {
  display: flex;

  margin-right: 40px;

  color: $hover-color;
}
