@import 'src/styles/mixins/table';
@import 'src/styles/mixins/typography';

$bg-color: #9596a0;

.properties__header {
    @include typography-6;
}

.properties__table {
    @include table;
    display: block;
}

.properties__item {
    @include table-item;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    color: #000000;
}

.properties__item-value {
    display: flex;

    padding: 5px 20px;

    color: #ffffff;
    border-radius: 20px;
    background-color: $bg-color;
}

.properties__item-name {
    display: flex;
    justify-content: space-between;

    width: 100px;
}