@import 'src/styles/mixins/mixins';
@import 'src/styles/colors';
@import 'src/styles/mixins/typography';

.beer-item-info {
    @include typography-0;

    display: grid;

    width: 380px;
    height: 130px;
    padding: 20px;

    text-align: left;

    color: #fff;
    background: #808080;
}

.beer-item-info__text--title {
    display: block;

    @include title;
}

.beer-item-info__text--tagline {
    display: block;
}
