@import 'src/styles/colors';
@import 'src/styles/mixins/typography';

.beer-item-info {
    @include typography-0-small;
    
    display: grid;

    width: 380px;
    height: 200px;
    padding: 20px;

    text-align: left;

    color: #fff;
    background: #808080;

}

@media (min-width: 500px) {
    .beer-item-info {
        @include typography-0;
    }
}

.beer-item-info__text--title {
    @include typography-1-small;
    
    display: block;

    padding-bottom: 10px;

}

@media (min-width: 500px) {
    .beer-item-info__text--title {
        @include typography-1;
    
    }
}

.beer-item-info__text--tagline {
    display: block;
}
