.beer-item-info__container {
  display: -ms-grid;
  display: grid;
  font-size: 16px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 330px;
  height: 130px;
  padding: 20px;
  text-align: left;
  color: #fff;
  background: grey;
}
.beer-item-info--title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 30px;
  padding-bottom: 10px;
}