@import 'src/styles/scss/mixins';
@import 'src/styles/scss/main';

.beer-item-info {
  font: {
    size: 16px;
    family: $font-family;
  }

  display: grid;
  width: 330px;
  height: 130px;
  padding: 20px;

  text-align: left;

  color: #fff;
  background: #808080;

  &--title {
    @include title;
  }
}
