.food-pairing__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  width: 100%;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  width: 100%;
  padding: 20px;
  padding: 30px 20px;
}