@import 'src/styles/colors';

.beer-item-image {
    width: auto;
    height: 80%;
}

.beer-item-image__background {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 150px;
    height: 150px;
    margin: 5px;

    border-radius: 50%;
    background-color: $primary-color;
}

.beer-item-image__container {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 100%;
}
