@import 'src/styles/scss/main';
@import 'src/styles/scss/mixins';

.beer-item-image {
  width: auto;
  height: 80%;

  &__container {
    width: 150px;
    height: 150px;
    margin: 5px;

    border-radius: 50%;
    background-color: $primary-color;

    @include beer-item-image-content;
  }

  &__section {
    max-width: 100%;

    @include beer-item-image-content;
  }
}
