.search-box__input {
  font-size: 18px;
  width: 370px;
  margin-right: 5px;
  display: inline;
  color: #949090;
  border: none;
  border-bottom: 2px solid #c7c3c3;
}
.search-box__button {
  font-size: 40px;
  background: none;
  display: inline;
  color: #949090;
  border: none;
}