.search-box {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #6c6c74;
}

.search-box__input {
    font-size: 18px;

    width: 370px;
    margin-right: 5px;

    border: inherit;
    border-bottom: 2px solid #c7c3c3;
}

.search-box__button {
    font-size: 40px;

    border: inherit;
    background: none;
}
