.pageHeaderMain {
  display: flex;
  align-items: center;

  height: 100%;
}

.pageHeaderMainContainer {
  display: flex;
  justify-content: space-around;

  width: 180px;
  margin-left: 10px;
}

.pageHeaderMainMenu {
  font-size: 32px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 100%;
}

.pageHeaderMainMenu:hover {
  /* background-color: #014f92; */
  color: #fff;
}
