.filter {
  display: block;
}
.filter__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
}
.filter__container {
  font-size: 20px;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}
.filter__container--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter-section__container {
  display: block;
}